body{background-color: #383A49!important;}
.jumbotron{background-color: #C9427D !important;padding-bottom:0!important;padding-top:20px!important;margin-bottom:0!important;}
.page-header{    padding-bottom: 0px!important;
  margin: auto!important;
  border-bottom: none !important;}
.page-header>.col-sm-6>img {
  width: 15%;
}
.page-header>.col-sm-6>h6 {
  color:#fff; float: right;
}
.page-header>.banner{
  width: 60% !important;
}
.page-header>.banner>img{
  width:100%;    position: relative;
  top: -60px !important;
}
.page-header>.banner>.arrow {
  width: 8%;
  text-align: center;
  margin: 0 auto;
  margin-left: 43%;
  margin-top: -100px;
 }
.container-fluid {
   padding-right: 0px!important;
   padding-left: 0px!important;
  margin-right: auto;
  margin-left: auto;
  background-color: #333441;
}
.container-fluid>.container {
  width: 50%;
}
input.search-matches {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 50px;padding-right: 154px;
  border-radius: 21px;
  border: none;
  padding-left: 16px;
}
.search-button {
  position: absolute;
  float: right;
  width: 11%;
  z-index: 1111;
  margin-top: -60px;
  margin-left: 36.5%;
  height: 44px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #D05D84;
}
.col-sm-4{width: 24.333333%!important;}
.containers{text-align: center;color:#fff;}
.artist-img{width: 100%;}
.container>.col-sm-4{padding: 1%;}
.row{  margin-left: -15px; margin-right: -15px;
  width: 100%;}
